<footer  class="footer">
  <div class="footer__container">
    <section class="footer__about-text">
      <h2 class="footer__title">Sobre</h2>
      <p>Sint qui est do sit deserunt amet duis ad eiusmod adipisicing et magna nulla. Lorem aliquip elit reprehenderit duis adipisicing velit mollit amet. Officia consectetur sunt cupidatat est laboris magna Lorem. Sit dolor adipisicing cillum magna. Cupidatat cupidatat dolore commodo dolore.</p>
    </section>
    <address>
      <h2 class="">Contato</h2>
      <ul>
        <li>
          <i class="fa-solid fa-envelope"></i>
          proway@computers.com
        </li>
        <li>
          <i class="fa-solid fa-phone"></i>
          (00) 0000-0000
        </li>
        <li>
          <i class="fa-brands fa-whatsapp"></i>
          (00) 0000-0000
        </li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
