<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form" [formGroup]="formContato" (submit)="sendForm()">
        <input
            type="text"
            placeholder="Digite seu nome"
            formControlName="nome"
            [class.valid]="formContato.controls['nome'].valid"
            [class.invalid]="formContato.controls['nome'].invalid && (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)"
        >
        <div *ngIf="formContato.controls['nome'].invalid && (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['nome'].hasError('required')">
                Nome é um campo obrigatório
            </small>
        </div>

        <input
            type="text"
            placeholder="Digite o assunto"
            formControlName="assunto"
            [class.valid]="formContato.controls['assunto'].valid"
            [class.invalid]="formContato.controls['assunto'].invalid && (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty)"
        >
        <div *ngIf="formContato.controls['assunto'].invalid && (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['assunto'].hasError('required')">
                Assunto é um campo obrigatório
            </small>
        </div>

        <input
            type="tel"
            placeholder="(00) 0000-0000"
            formControlName="telefone"
            mask="(00) 00000-0000"
            [class.valid]="formContato.controls['telefone'].valid"
            [class.invalid]="formContato.controls['telefone'].invalid && (formContato.controls['telefone'].touched || formContato.controls['telefone'].dirty)"
        >
        <div *ngIf="formContato.controls['telefone'].invalid && (formContato.controls['telefone'].touched || formContato.controls['telefone'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['telefone'].hasError('required')">
                Telefone é um campo obrigatório
            </small>
            <small class="error-message" *ngIf="formContato.controls['telefone'].hasError('minlength')">
                Telefone inválido
            </small>
        </div>

        <input
            type="email"
            placeholder="Digite seu e-email"
            formControlName="email"
            [class.valid]="formContato.controls['email'].valid"
            [class.invalid]="formContato.controls['email'].invalid && (formContato.controls['email'].touched || formContato.controls['email'].dirty)"
        >
        <div *ngIf="formContato.controls['email'].invalid && (formContato.controls['email'].touched || formContato.controls['email'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['email'].hasError('required')">
                E-mail é um campo obrigatório
            </small>
            <small class="error-message" *ngIf="formContato.controls['email'].hasError('email')">
                E-mail inválido
            </small>
        </div>

        <textarea
            cols="30"
            rows="10"
            maxlength="600"
            placeholder="Digite sua mensagem..."
            formControlName="mensagem"
            [class.valid]="formContato.controls['mensagem'].valid"
            [class.invalid]="formContato.controls['mensagem'].invalid && (formContato.controls['mensagem'].touched || formContato.controls['mensagem'].dirty)"
        ></textarea>
        <div *ngIf="formContato.controls['mensagem'].invalid && (formContato.controls['mensagem'].touched || formContato.controls['mensagem'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['mensagem'].hasError('required')">
                Mensagem é um campo obrigatório
            </small>
        </div>

        <button [disabled]="formContato.invalid" type="submit">Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1973529954835!2d-46.6564943!3d-23.5613545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59ceb1eb771f%3A0xe904f6a669744da1!2sMuseu%20de%20Arte%20de%20S%C3%A3o%20Paulo%20Assis%20Chateaubriand!5e0!3m2!1spt-BR!2sbr!4v1670520850852!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Av. Paulista, 1578 - Bela Vista, São Paulo - SP, 01310-200</p>
    </address>
</section>
